* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top:10px;
    position: relative;
}

.small{
    width: 300px;
    position: relative;
}
.btnPersonalizado{
    width:300px;
}
#btnAcao{
    width: 100px;
}
h5{
    width: 100px;
    height: 30px;
    background-color: #34383d;
    color:white;
    border-radius: 3px;
    margin-left: 400px;
    padding-left:4px ;
}
p{
    font-size:20px;
    color :rgb(33, 37, 41);
    font-family: arial;
    letter-spacing: 0.5px;
}

.table{
    position: absolute;
    width: 65%;
    top: 100px;
    left: 380px;
}
hr{
    width: 300px;
}

#modal{
    height: 700px;
    position: absolute;
    bottom: -10px;
    left: -400px;
    overflow: hidden;
}